---
#APP configs
apiVersion: v1
kind: Secret
metadata:
  name: app-config
  namespace: challenge
type: Opaque
data:
  VTT_DBUSER: c2Vydmlhbg==
  VTT_DBPASSWORD: c2hhZG93Zm94 
  VTT_DBNAME: Y2hhbGxlbmdl
  VTT_DBPORT: NTQzMg==
  VTT_DBHOST: ZGItc2VydmljZS5jaGFsbGVuZ2Uuc3ZjLmNsdXN0ZXIubG9jYWw=
  VTT_LISTENHOST: MC4wLjAuMA==
  VTT_LISTENPORT: ODA=


---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: challenge-app
  namespace: challenge
  labels:
    app: challenge-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: challenge-app
  template:
    metadata:
      labels:
        app: challenge-app
        version: 1.0v
    spec:
      containers:
      - name: go
        image: krishees/techchallengeapp
        envFrom:
        - secretRef:
            name: app-config
        command: ["/bin/sh"]
        args: ["-c", "echo 'Sleep time initiated - waiting on db to propergate'; sleep 120; ./TechChallengeApp serve"]
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "100Mi"
            cpu: "250m"
          limits:
            memory: "200Mi"
            cpu: "500m"  