---
#Storage class
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: challenge-ebs-sc
provisioner: ebs.csi.aws.com
parameters:
    type: gp2
mountOptions:
  - debug
volumeBindingMode: Immediate
---
#PVC for db
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: challenge-db-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ebs-sc
  resources:
    requests:
      storage: 4Gi

